<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>测试接口</title>
</head>
<body>
    <h3>接口测试</h3>
    <form method="post">
        <table>
            <tr>
                <td>command:</td>
                <td>
                    <input type="text" name="command" style="width: 400px" />
                </td>
            </tr>
            <tr>
                <td>version:</td>
                <td>
                    <input type="text" name="version" style="width: 400px" />
                </td>
            </tr>
            <tr>
                <td>system:</td>
                <td>
                    <select name="system" style="width: 405px">
                        <option value="">None</option>
                        <option value="pc">PC</option>
                        <option value="android">Android</option>
                        <option value="ios">IOS</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>channel:</td>
                <td>
                    <input type="text" name="channel" style="width: 400px" value="web" />
                </td>
            </tr>
            <tr>
                <td>userid:</td>
                <td>
                    <input type="text" name="userid" style="width: 400px" value="" />
                </td>
            </tr>
            <tr>
                <td>usecache:</td>
                <td>
                    <select name="usecache" style="width: 405px">
                        <option value="false">False</option>
                        <option value="true">True</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>multirequesttype:</td>
                <td>
                    <select name="multirequesttype" style="width: 405px">
                        <option value="serial">串行(serial)</option>
                        <option value="parallel">并行(parallel)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>body:</td>
                <td>
                    <textarea name="body" rows="5" style="width: 400px"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="submit" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
