<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webDesKey" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <webDesKey>
    <add key="web" value="501fe9ec" />
    <add key="app" value="6b47bac4" />
    <add key="wap" value="7389D381" />
    <add key="cache" value="cded3dda" />
    <add key="mweb" value="cded3dda" />
  </webDesKey>
  <appSettings>
    <!--忽略日志的渠道（Channel）-->
    <add key="ignoreLogChannel" value="cache" />
    <!--忽略读取缓存的渠道（Channel）-->
    <add key="ignoreCacheChannel" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--
      maxRequestLength:的单位为：kbyte，如你限制为1G，值应该为：1024*1024=1048576
      executionTimeout:指示在请求被 ASP.NET 自动关闭前允许执行的最大秒数,2h:2*60*60=7200
    -->
    <httpRuntime executionTimeout="7200" maxRequestLength="1048576" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
    <security>
      <requestFiltering>
        <!--限制请求最大长度为1*1024*1024*1024k(1G)-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>