<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webDesKey" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <webDesKey>
    <add key="web" value="501fe9ec" />
    <add key="app" value="6b47bac4" />
    <add key="wap" value="7389D381" />
    <add key="cache" value="cded3dda" />
  </webDesKey>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />        
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>