<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webDesKey" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <webDesKey>
    <add key="web" value="501fe9ec" />
    <add key="app" value="6b47bac4" />
    <add key="wap" value="7389D381" />
    <add key="cache" value="cded3dda" />
  </webDesKey>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    
    <pages controlRenderingCompatibilityVersion="4.0" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer></configuration>